* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('https://media1.tenor.com/m/xCzs8tva3ksAAAAd/rain-city.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgba(255, 255, 255, 0);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
    width: 350px;
    text-align: center;
}

h1 {
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    font-size: 28px;
}

.search {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.search input {
    flex: 1;
    padding: 12px 15px;
    border: 2px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

.search input:focus {
    border-color: #3d3535;
}

.search button {
    padding: 12px 20px;
    background: #141414;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    clip-path: circle(40%);
}

.search button:hover {
    background-color: #3d3535;
    transform: scale(1.05);
    clip-path: circle(40%);
}

.weather-card {
    
    padding: 30px;
    border-radius: 15px;
    color: white;
    min-height: 200px;
    background-image: url('https://media1.tenor.com/m/PhRpI1mHgpUAAAAd/wind-turbine-turbine.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.weather-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.temp {
    font-size: 48px;
    font-weight: bold;
    margin: 10px 0;
}

.desc {
    font-size: 18px;
    margin-bottom: 15px;
    opacity: 0.9;
}

.details {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 16px;
}

.details span {
    display: flex;
    align-items: center;
    gap: 5px;
}

.error {
    color: #b30f0f;
    font-size: 16px;
    padding: 20px;
    background-color: beige;
    border: 2px crimson;
    border-radius: 15px;

}
.logo-title{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:15px;
    margin-bottom:25px;
    font-size:42px;
    font-weight:700;
}

.logo{
    width:70px;
    height:70px;
    object-fit:contain;
}
